.btn {
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  width: 240px;
  border-radius: 2rem;
  font-weight: var(--font-weight-bold);
  transition: background-color 150ms ease, transform 150ms ease;
  
  &:hover {
    transform: scale(1.01);
    background-color: var(--clr-primary-90);
  }
  
  &--primary {
    background-color: var(--clr-primary-100);
    border: 1px solid var(--clr-primary-90);
    color: white;
  }

  // &-small {
  //   padding: 6px;
  //   border-radius: 30px;
  // }

  // &-medium {
  //   padding: 14px 8px;
  //   border-radius: 36px;
  // }

  // &-large {
  //   padding: 16px 10px;
  //   border-radius: 40px;
  // }
}
