.form {
  width: 100%;
}

.form__header {
  padding-block: 1.5rem 1rem;
}

.form__title {
  color: var(--clr-grey-100);
}

.form__group {
  margin-bottom: 1.5rem;
  width: 100%;

  &--small {
    flex: 0 0 150px;
  }
}

.form__group-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.form__label {
  font-size: 14px;
  font-weight: 600;
  color: var(--clr-grey-100);
}

.form__input {
  width: 100%;
  height: 2rem;
  padding-inline: 0.65rem;
  border-radius: 30px;
  border: 1px solid black;
  transition: border-color 150ms ease-in-out;

  &:hover,
  &:focus {
    outline: 1px solid var(--clr-primary-100);
    border-color: var(--clr-primary-100);
  }

  &--quantity {
    padding-inline: 0.5rem;
    height: 1.5rem;
    width: 36px;
  }
}