// .card {
//   background-color: var(--clr-grey-10);
//   border-radius: var(--radius-md);
//   box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
// }

.link {
  text-decoration: none;
  color: inherit;
  display: block; 
  width: fit-content;
}

.image {  
    max-height: 170px;  
    width: 100%;
    display: block;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
  }