// === Base colors ===
:root {
  --font: "Inter", sans-serif;
  --clr-primary-100: #f26cf9;
  --clr-primary-90: #f589fa;
  --clr-primary-50: #fcd3fe;
  --clr-primary-40: #fce2fe;
  --clr-primary-30: #fdedfe;

  --clr-secondary-110: #1c2346;
  --clr-secondary-100: #37437d;
  --clr-secondary-90: #5562a2;
  --clr-secondary-70: #707dbf;
  --clr-secondary-60: #abb4dd;
  --clr-secondary-50: #d3daf9;

  --clr-yellow-100: #ffca39;
  --clr-yellow-90: #ffefc3;

  --clr-grey-10: #ffffff;
  --clr-grey-20: #f7f7f7;
  --clr-grey-30: #ededed;
  --clr-grey-40: #e0e0e1;
  --clr-grey-50: #c3c3c4;
  --clr-grey-60: #9f9fa1;
  --clr-grey-70: #777779;
  --clr-grey-80: #636365;
  --clr-grey-90: #434345;
  --clr-grey-100: #1e1e20;

  --clr-grey-cool-10: #eeefff;
  --clr-grey-cool-20: #e4e5f5;
  --clr-grey-cool-30: #dddeed;
  --clr-grey-cool-40: #d1d2e0;
  --clr-grey-cool-50: #b0b1bd;
  --clr-grey-cool-60: #8f8f99;
  --clr-grey-cool-70: #72737a;
  --clr-grey-cool-80: #56565c;
  --clr-grey-cool-90: #39393d;
  --clr-grey-cool-100: #131314;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}