.layout {       
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100dvh;
    width: 100%;
    background-color: var(--clr-grey-20);
}

.layout__header {
    grid-area: header;
    padding: 0.25rem 1rem;
    background-color: var(--clr-grey-20);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    &-img {
        height: 1.5rem;
        width: 1.5rem;        
    }

    &-text {
        font-size: 24px;
        font-weight: 500;
    }    
}

.header__text {
    font-size: 2rem;
    padding-top: 2rem;
}

.layout__nav {
    grid-area: nav;
    padding: 0.5rem 1rem;
    background-color: var(--clr-grey-10);
}

.layout__content {
    grid-area: content;
    padding: 2rem;
}

.layout__footer {
    grid-area: footer;
    padding: 1rem 2rem;
    background-color: var(--clr-grey-20);
}



.event-layout {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;

    // border: 1px solid red;
}


// .event-slot {
//     // border: 2px solid hotpink;
// }





.container {
    width: 100%;
    margin-inline: auto;
    // padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}


.layout-wrapper {
    background: url('/images/placeholder-bg.png') center/cover no-repeat;    
    min-height: 100vh;
    display: flex;
}


.event-details-page {
    padding: 4rem 2rem;
    margin: 0 auto;
    background-color: var(--clr-grey-10);
    // height: 50dvh;
    width: 700px;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}


.event-details,
.booking-form {
  height: auto;
  min-height: unset;
  margin: 0;
}


.form {
  width: 100%;
}

.form__header {
padding-block: 1.5rem 1rem;
}

.form__title {
  color: var(--clr-grey-100);
}

.form__group {
  margin-bottom: 1.5rem;
  width: 100%;   

  &--small {
    flex: 0 0 150px;
  }
}

.form__group-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.form__label {
  font-size: 14px;
  font-weight: 600;
  color: var(--clr-grey-100);
}

.form__input {
  width: 100%;
  height: 2rem;
  padding-inline: 0.65rem;
  border-radius: 30px;
  border: 1px solid black;
  transition: border-color 150ms ease-in-out;

  &:hover,
  &:focus {
    outline: 1px solid var(--clr-primary-100);  
    border-color: var(--clr-primary-100);
  }

  &--quantity {    
    padding-inline: 0.5rem;
    height: 1.5rem;
    width: 36px;
  }
}