.layout {
    // border: 2px solid red;

    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;

    &__header {
        grid-area: header;
        padding: 1rem;
        background-color: var(--clr-grey-20);
    }

    &__nav {
        grid-area: nav;
        padding: 0.5rem 1rem;
        background-color: var(--clr-grey-10);
    }

    &__content {
        grid-area: content;
        padding: 1rem;
    }

    &__footer {
        grid-area: footer;
        padding: 1rem;
        background-color: var(--clr-grey-20);
    }
}




.event-layout {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}


.event-slot {
    border: 2px solid hotpink;
}