@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}


:root {
  --font: "Inter", sans-serif;
    --clr-primary-100: #F26CF9;
    --clr-primary-90: #F589FA;
    --clr-primary-50: #FCD3FE;
    --clr-primary-40: #FCE2FE;
    --clr-primary-30: #FDEDFE;
    
    --clr-secondary-110: #1C2346;
    --clr-secondary-100: #37437D;
    --clr-secondary-90: #5562A2;
    --clr-secondary-70: #707DBF;
    --clr-secondary-60: #ABB4DD;
    --clr-secondary-50: #D3DAF9;
    
    --clr-yellow-100: #FFCA39;
    --clr-yellow-90: #FFEFC3;
    
    --clr-grey-10: #FFFFFF;
    --clr-grey-20: #F7F7F7;
    --clr-grey-30: #EDEDED;
    --clr-grey-40: #E0E0E1;
    --clr-grey-50: #C3C3C4;
    --clr-grey-60: #9F9FA1;
    --clr-grey-70: #777779;
    --clr-grey-80: #636365;
    --clr-grey-90: #434345;
    --clr-grey-100: #1E1E20;
    
    --clr-grey-cool-10: #EEEFFF;
    --clr-grey-cool-20: #E4E5F5;
    --clr-grey-cool-30: #DDDEED;
    --clr-grey-cool-40: #D1D2E0;
    --clr-grey-cool-50: #B0B1BD;
    --clr-grey-cool-60: #8F8F99;
    --clr-grey-cool-70: #72737A;
    --clr-grey-cool-80: #56565C;
    --clr-grey-cool-90: #39393D;
    --clr-grey-cool-100: #131314;
}


body,
html {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    background-color: var(--clr-grey-20);
}



.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 100dvh;

  @media (width >= 768px) {
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
  }

  @media (width >= 1400px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
  }
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
